.input{
    width: 400px;
    outline: none;
}
.labelInput{
    display: flex;
    flex-direction: column;
    background-color: rgb(108, 108, 244);
}

.registerForm{
    width: 410px;
    margin: auto;
    padding: 4px 6px 8px 10px;
    border-radius: 5px;
    border: 3px solid rgba(251, 2, 2, 0.935);
    box-shadow: 15px 0 0 rgba(246, 1, 1, 0.935);
}
.link{
    font-size: 14px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}