.cartIconContainer {
    position: fixed;
    bottom: 10px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    padding: 10px;
    transition: transform 0.2s;
    text-decoration: none;  
    color: inherit;
}

.cartIconContainer:hover {
    transform: scale(1.1);
}   

.cartIcon {
    font-size: 45px;
}

.badge {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
}