.productContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    gap: 25px;    
}
.productImage{
    width: 150px;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    box-shadow: 10px 0 5px #ff0000;
    
}
.productImage:hover{    
    transition: all 0.5s;
    transform: scale(1.1);

}
.imageButton{
    border: none;
    background-color: inherit;
}
.productTitle{
    font-size: 10px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}
.productCategory{
    font-size: 15px;
    font-weight: bold;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.button{
    width: 100px;
    height: 40px;
    font-size: 12px;
    font-weight: bold;
    border-style: none;
    background-color: red;
    border-radius: 20px;
    color: white;
}
.button:hover{
    transition: all 0.5s;
    transform: scale(1.1);
}